// Widget Header
.widget-header {
    background: $blue;
    color: $off-white;
    display: flex;
    justify-content: space-between;
    padding: $m-size;
}

// set up an element selector for widget-header
// call title. set margin = 0 
// use the class (3 steps)

.widget-header__title {
    margin: 0;
}
